<div ng-controller="mainController">
  <button ng-click="play()" ng-show="!playing" >Play</button>
  <button ng-click="stop()" ng-show="playing" >Stop</button>
  <p>Playing: {{ playing }}</p>
  <h1>Hello, {{ yourName }}!</h1>
  <h2>Hello, {{ name }}</h2>
</div>
